body{
    width: 1280px;
    margin: auto;
    background-color: lightgray;
}


.company-lookup{
    display: flex;
    justify-content: left;
}


.display{
    display: flex;
    flex-wrap: wrap;
    background-color: lightblue;
}

.display div{
    margin: 20px;
}

#analyst-recommendation-table tr td, tr.analyst-recommendation-table-header th{
    padding: 20px;
}

#analytics-header-tr, .analyst-recommendation-table-header, #analytics-header-tr th, #fundamentals-row td, #momentum-row td, #analyst-row td, #overall-result-row td{
    text-align: left;
}

#analytics-header-tr th, #fundamentals-row td, #momentum-row td, #analyst-row td, #overall-result-row td{
    padding: 20px;
}



