
body{
    background-color: #12161f;
    font-family: "IBM Plex Sans", sans-serif;
    line-height: 1.5;
    color: white;
    display: block;
}

main{
    width: 1440px;
    margin: auto;
}

#ticker-symbol{
    left: 50px;
    font-size: 15px;
    border-radius: 15px 0 0 15px;
    border: none;
    height: 30px;
    outline: none;
    background-color: #152434;
    color: white;
}

#retrieve-button{ 
    left: -10;
    border-radius:  0 15px 15px 0 ;
    border: none;
    font-size: 15px;
    width: 250;
    height: 30px;
    background-color: #ffc107;
    color: white;
    font-weight: bold;
    outline: none
}


nav{
    display: flex;
    justify-content: space-between; 
}

#nav-links{
    width: 500px;
    display: flex;
    justify-content: space-around;
}


#nav-links li{
    list-style: none;
}



#ticker-symbol{
    width: 100px;
}

#companyName{
    display: none;
}

.company-lookup{
    display: flex;
    justify-content: left;
}


#analytic-banner{
    margin: 20px 0 0 0;
    height: 80px;
    border: none;
    border-radius: 10px;
    background-color: #152434;
}





.display{
    display: flex;
    flex-wrap: wrap;
}

.display > div{
    margin: 20px 0 0 0;
    border: none;
    border-radius: 10px;
    background-color: #152434;
    width: 50%;
}

#analyst-recommendation-table tr td, tr.analyst-recommendation-table-header th{
    padding: 10px;
}

#analytics-header-tr, .analyst-recommendation-table-header, #analytics-header-tr th, #fundamentals-row td, #momentum-row td, #analyst-row td, #overall-result-row td{
    text-align: left;
}

#analytics-header-tr th, #fundamentals-row td, #momentum-row td, #analyst-row td, #overall-result-row td{
    padding: 10px;
}





#analyst-recommendation{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

